.contact-style{
    width: 700px;
    height: 300px;
    margin-top: -200px;
    margin-bottom: 40px;
    margin-left: 20px;
    .contact-form {
        animation: rightThenLeft 2s, fade 2s;
        h1 {
            color: black;
            font-family: 'Quicksand', sans-serif;
            opacity: 0.8;
        }
        p {
            font-size: 25px;
            opacity: 0.8;
        }
    }
}

.form {
    h2 {
        font-size: 30px;
        text-align: center;
        opacity: 0.6;
    }
}



button {
    font-size: 14px;
    background-color: #FDD85F;
    padding: 12px 26px;
    border-radius: 40px;
    width: auto;
    color: #3b4a67;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
}

textarea, input {
    border: none;
    background-image: none;
    background-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    padding: 16px;
    border-radius: 10px;
    border: 0px;
    resize: none;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.04);
}

input:hover,
input:focus {
    color: #000;
}

.content {
    padding-top: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 980px;
    justify-content: center;
    p, h1 {
        font-weight: 300;
        font-family: "Roboto", "Segoe Ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 29px;
        color: #5b6d91;
        margin: 0;
    }
    .feedback-description {
        max-width: 310px;
        padding-bottom: 72px;
        .subtitle {
            font-size: 16px;
        }
    }    
    .feedback-form {
        min-width: 280px;
        padding-left: 64px;
        display: flex;
        flex-direction: column;
        * {
            margin-bottom: 16px;
        }
        button {
            align-self: flex-end;
        }
    }
}

@media screen and (max-width: 674px) {
    .content {
        flex-direction: column;
        align-items: center;
        .feedback-form {
            padding-left: 0;
        }
    }
    button {
        width: 100%;
    }
}