.mainContact {
    background-image: url('../../images/walpapper.png');
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 100vh;
    display: flex;
    margin: auto;
    .flora_form {
        margin: auto;
        padding: 10px;
        border: solid 1px;
    }
}